**/sim.log
**/logs/
**/*.stat.0.out
**/*.stat.0.out.warmup
**/*.stat.0.csv.warmup
**/PARAMS.in
**/PARAMS.out
**/mcpat_infile.xml
**/cacti_infile.cfg
**/power_model_results.out
**/ramulator.stat.out
**/out.csv
**/collected_stats.csv
**/tmp/
